<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
           <directory>./src/Resources</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">./tests/Functional</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_DIR" value="./tests/Functional/Fixtures/app"/>
        <env name="KERNEL_CLASS" value="AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
</phpunit>
